.banner {
    position: relative;
}

.banner_div {
    position: absolute;
    width: 100%;
    height: 8.4rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37, 37, 37, 0.61),
        rgb(155, 150, 150)
    );
    bottom: 0px;
}