.product {
    position: relative;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    margin: 5px;
    background-color: white;
    z-index: 30px;
    padding: 10px;
}

.product_category {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: x-small;
    font-style: italic;
}

.product_title {
    display: flex;
    margin-top: 3px;
    margin-bottom: 3px;
}

.product_description {
    font-size: small;
    margin-top: 2px;
    margin-bottom: 2px;
}

.button {
    margin-top: auto;
    padding: 2px;
    font-size: small;
    background-color: #ff9900;
    border-color: #ff9900;
    border-radius: 0.125rem;
    outline: 2px solid transparent;
    cursor: pointer;
}

.product_rating {
   display: flex;
}

.icon {
    height: 15px;
    color: #ff9900;
}

.button:active {
    background-color: #3f2f17;
}