.register_logo {
    margin: 20px auto;
    object-fit: contain;
    width: 150px;
    color: black;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: darkgray;
    padding-top: 50px;
}

.register_container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;
    gap: 15px;
    background: black;
}

.register_error {
    color: red;
    text-align: center;
}

form > input {
    width: 100%;
    padding: 8px;
    outline: none;
    border: none;
    border-bottom: 2px solid lightgray;
    background: transparent;
    color: white;
}

h5 {
    font-size: medium;
    margin-top: 5px;
    color: white;
    font-weight: 400;
}

h1 {
    text-align: center;
    color: white;
}

.registerButton {
    padding: 8px;
    margin: 5px 0;
    font-size: medium;
    cursor: pointer;
    background-color: #f90;
    border: none;
}

.register_container>p {
    font-weight: 200;
    color: white;
}

.register_signInButton {
    padding: 8px;
    margin: 5px 0;
    font-size: medium;
    cursor: pointer;
    background-color: darkgray;
    border: none;
}

.register_signInButton:hover {
    background-color: #f90;
}

.registerButton:hover {
    background-color: darkgrey;
}

.set::-ms-reveal {
    filter: invert(100%)
}